.marquee-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    
  }
  
  .marquee,
  .marquee-reverse {
    animation: scroll 20s linear infinite;
    will-change: transform;
  }
  
  .marquee-reverse {
    animation-name: scroll-reverse;
    animation-delay: 2s;
  }
  
 
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes scroll-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .delay-start {
    animation-delay: 2s;
  }
  